<section class="products__container">
    <app-page-title [pageTitle]="title"></app-page-title>

    <div class="products__show">
        <article class="products__list" *ngFor="let product of products">
            <div class="products__card">
                <h2>{{product.title}}</h2>
                <img
                   [src]="product.image"
                   [alt]="product.title"
                />
                <p>{{product.price | currency: 'BRL'}}</p>
                <div>
                    <button (click)="redirectProductPage(product.id)">ver detalhes</button>
                <!-- <a [routerLink]=""></a> -->
                </div>
            </div>
        </article>
    </div>
</section>



<!-- <app-page-title [pageTitle]="title"></app-page-title>

<div><ul><li *ngFor="let bebida of bebidas">
    <p>Nome: {{bebida.nome}} | Valor: R$ {{bebida.valor}}</p>
    <a [routerLink]="['/products', bebida.id]">ver detalhes</a>
</li>
</ul>
</div>
 -->
